<!--
  Generated template for the EventInventarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inventario de ingredientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--
  <ion-list>
    <ion-item *ngFor="let eventVodka of ListaVodka">
      <h2>Vodka</h2>
      <p>Cantidad Restante: <strong>${{eventVodka?.totalVodka}}</strong></p>
    </ion-item>

  
  <ion-item *ngFor="let eventVermouth of ListaVermouth">
        <h2>Vermouth</h2>
        <p>Cantidad Restante: <strong>${{eventVermouth?.totalVermouth}}</strong></p>
  </ion-item>

  <ion-item *ngFor="let eventTequila of ListaTequila">
      <h2>Tequila</h2>
      <p>Cantidad Restante: <strong>${{eventTequila?.totalTequila}}</strong></p>  
  </ion-item>

  <ion-item *ngFor="let eventRon of ListaRon">
      <h2>Ron</h2>
      <p>Cantidad Restante: <strong>${{eventRon?.totalRon}}</strong></p>  
  </ion-item>

  <ion-item *ngFor="let eventGin of ListaGin">
      <h2>Ginnger</h2>
      <p>Cantidad Restante: <strong>${{eventGin?.totalGin}}</strong></p>  
  </ion-item>

  <ion-item *ngFor="let eventCuracao of ListaCuracao">
      <h2>Curacao</h2>
      <p>Cantidad Restante: <strong>${{eventCuracao?.totalCuracao}</strong></p>  
  </ion-item>


  </ion-list>
  -->
</ion-content>
